{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>User</th>
        </tr>

        {% for user in users %}
            <tr>
                <th>
                    <a href="{{ path('userTweets', { 'username' : user.screenName }) }}"> {{ user.name }}</a>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}